
body {
    line-height: 1.3;
}

.navbar {
	padding: .3rem 1rem;
}

.alert-info {

	/* default #d1ecf1; */
	background-color: #9ecdd6;
}

.bg-dark {
	background-color: #004890!important;
}

.alert-secondary {
	/* default #e1e2e4 */
	background-color: #c9c0b9;
}

.alert-danger {
	/* default #f7d6d9 */
	background-color: #d6abae;
}

.alert-primary {
	/* default #cbe4fe*/
	background-color: #91bae2;
}

.active-link {
	cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #b3b7bc #b3b7bc #fff;
}

.form-group {
	margin-bottom: 0;
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, 
.input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, 
.input-group-sm>.input-group-prepend>.input-group-text {
    padding: .15rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.pdfobject-container { 
	height: 500px;
}

[v-cloak] { 
	display: none 
}

.shipment-pin {
	margin: 2px 0 4px 0; 
	border-bottom: 1px dotted #e2e2e2;
}

/*.pdf-label {
	display: none;
}*/

.btn-show-pdf {
	margin-bottom: 10px;
	line-height: 1.1;
	float: right;
}

.alert-narrow {
	padding: .20rem 0.85rem;
	margin-bottom: .50rem
}

.col-form-label {
	line-height: 1.4;
}

p.subtitle {
	margin-top: 12px;
	padding: 4px 8px;
	font-size: 14px;
	background-color: #c5e0f9;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 27px;
  margin: 0 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}